NEXT_PUBLIC_SUPABASE_URL=https://gcfmccszyroygwvjkxkc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=tu-clave-publicable-de-supabase
NEXT_PUBLIC_VAPID_PUBLIC_KEY=tu-clave-publica-vapid
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=tu-cloud-name-de-cloudinary
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=tu-upload-preset-unsigned
